.sidebarOption {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 20px 20px 0;
  cursor: pointer;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 999px;
  width: fit-content;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}
