.sidebar {
  flex-basis: 20%;
  padding-right: 20px;
  border-right: 1px solid var(--twitter-background);
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.sidebar__twitterIcon {
  font-size: 30px !important;
  color: var(--twitter-color) !important;
  margin-bottom: 15px !important;
  margin-left: 20px !important;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  border-radius: 999px !important;
  padding: 10px 20px !important;
  color: white !important;
  font-weight: 900 !important;
  margin-top: 20px !important;
  margin-left: 10px !important;
  text-transform: inherit !important;
}
